@import url(//fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

:root {
    --html-background: #fff;
    --h1-color: #52489c;
    --text: #333;
    --image-background: #c9c6e4;
    --image-background-hover: #5e53b3;
}

* {
  font-family: "PT Serif", serif;
  box-sizing: border-box;
}

html, body {
    background-color: var(--html-background);
    color: var(--text);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#game-div, #info-div {
  max-width: 500px;
  padding: 20px;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: var(--h1-color);
}

p, output {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  font-size: 1.1123em;
  line-height: 1.5rem;
}

#list-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list-div p {
  display: inline;
  margin: 4px 0;
  width: 100px;
  text-align: left;
  line-height: 1rem;
}

#stats-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#stats-div p {
  margin: 10px 10px;
}

.image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: manipulation;
    height: 150px;
}

.agent-image-background, .user-image-background {
    background-color: var(--image-background);
    width: 120px;
    height: 120px;
    padding: 20px;
    margin: 15px;
    border-radius: 50%;
}

.agent-image-background {
    display: none;
}

.user-image-background:hover {
    transition: .15s ease;
    background-color: var(--image-background-hover);
}

.image {
    touch-action: manipulation;
    user-select: none;

}

#result-p {
  font-weight: 600;
  height: 20px;
}

#slide-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 10px;
    width: 150px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #52489c;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 2px 2px #000000;
    border: 2px solid #000000;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #52489c;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #52489c;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 2px 2px 2px #000000;
    border: 2px solid #000000;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    transition: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #52489c;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #52489c;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 2px 2px 2px #000000;
    border: 2px solid #000000;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #52489c;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #52489c;
  }  
